#mainText {
    font-size: 18px;
    color: rgb(252, 252, 252);
    text-shadow: 0 0 2px rgb(0, 0, 0);
}

#blogUnderline {
    border-bottom: solid 2px rgb(41, 30, 83);
    border-color: transparent transparent rgb(41, 30, 83) transparent;
    border-radius: 0 0 30% 80%/30px;
}

#header {
    font-size: 60px;
    margin-bottom: 15px;
}

.bgImage {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    box-shadow: 0px 25em 2em -23.5em #f8f9fa inset,
        0em -25em 2em -23.5em #f8f9fa inset;
}

.darkening {
    background-color: rgba(0, 0, 0, 0.7);
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 0;
}

.carousel-item img {
    width: 100%;
    height: 350px;
}

.borderLeft {
    height: 50%;
    width: 5px;
    background-color: rgb(68, 41, 175);
    transition: 1s;
}

.groupText:hover .borderLeft {
    height: 100%;
}

.groupText button {
    background-color: rgb(68, 41, 175);
    color: white;
    transition: 0.8s;
}
.groupText button:hover {
    background-color: rgb(84, 82, 236);
    color: white;
}

.articleText {
    font-size: 20px;
}
